@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --blue-color: rgb(16, 110, 234);
  --transparent-white: rgba(255, 255, 255, 0.7);
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: var(--poppins-font);
}
img {
  width: 100%;
  object-fit: contain;
}

section .title .title-span {
  background-color: rgb(231, 241, 253);
  font-family: var(--roboto-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
}

#contact-bar .row,
#contact-bar .col {
  height: 25px !important;
}
#contact-bar .social-links a {
  color: var(--transparent-white);
}

/* Nav Start */
nav .nav-link {
  color: rgb(34, 34, 34);
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}
nav .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-125px);
  height: 2px;
  width: 100%;
  background-color: var(--blue-color);
  transition: 0.5s ease-in-out;
}
nav .nav-item:hover .nav-link::before,
nav .nav-link.active::before {
  transform: translateX(0px) !important;
}
nav .nav-link.active {
  color: var(--blue-color) !important;
}
nav .navbar-brand {
  color: rgb(34, 34, 34);
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--poppins-font);
}
nav .navbar-brand span {
  color: var(--blue-color);
}

/* Nav End */

/* Hero Start */
.hero {
  background: url(./imgs/hero-bg.jpg) no-repeat;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  justify-items: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: var(--transparent-white);
}
.hero .container {
  position: relative;
}
.hero .btns button {
  font-family: var(--roboto-font);
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1px;
}
/* Hero End */

/* Cards Start */
#cards .card {
  height: 300px;
}
/* Cards End */

/* About Start */
#about {
  background-color: rgb(246, 249, 254);
}
#about .about-us ul li i {
  padding: 1.2rem;
}

/* About End */

/* Skills Start */
#skills .data span {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--poppins-font);
}
/* Skills End */

/* Count Start */
#count .card {
  height: 130px;
  background-color: rgb(241, 246, 254);
  width: 98%;
}
#count .card i {
  width: 50px;
  height: 50px;
  top: -25px;
}
#count .card p {
  font-size: 0.85rem;
  font-family: var(--roboto-font);
}
/* Count End */

/* Clients Start */
#clients {
  background-color: rgb(241, 246, 254);
}
#clients figure {
  width: 50%;
}
/* Clients End */

/* Services Start */
#services .card {
  width: 100%;
  padding: 5rem 1.5rem !important;
}
#services .card i {
  width: 64px;
  height: 64px;
  border: 1px solid rgb(226, 238, 253);
  background-color: rgb(241, 246, 254);
}
/* Services End */

/* Testimonials Start */
#testimonials {
  height: 65vh;
  background: url(./imgs/testimonials-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: var(--roboto-font);
  letter-spacing: -1px;
}

#testimonials::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

#testimonials figure {
  width: 110px;
  height: 110px;
  border: 6px solid rgba(255, 255, 255, 0.15);
}
#testimonials span {
  color: rgb(221, 221, 221);
  letter-spacing: 0;
}
#testimonials p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
#testimonials p i {
  color: rgba(255, 255, 255, 0.4);
}
#testimonials ul li {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
#testimonials ul .active {
  background-color: var(--blue-color);
}

/* Testimonials End */

/* Portfolio Start */
#portfolio ul li a {
  color: #444444;
}
#portfolio ul li .active {
  color: var(--blue-color) !important;
}
.preview {
  columns: 3;
  column-gap: 10px;
}
.preview .item {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

/* Portfolio End */

.questions {
  background-color: var(--secBlue);
}

.questions .questions-list {
  padding: 0;
  list-style: none;
}

.questions .questions-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.questions .questions-list .question {
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: black;
  font-weight: 400;
  padding-left: 25px;
}

.team {
  background-color: var(--secBlue);
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

/* pricing */
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  background: #f8f8f8;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  margin: -20px -20px 20px -20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bfbcbc;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #4b4b4b;
  text-align: center;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #106eea;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .holder {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .main-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .main-form .form-group {
  margin-bottom: 20px;
}

.contact .main-form input,
.contact .main-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .main-form input {
  padding: 10px 15px;
}

.contact .main-form textarea {
  padding: 12px 15px;
}
.contact .contact-data i {
  padding: 0.8rem;
  border: 1px dotted var(--blue-color);
}
.search-term {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

.search-term h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

.search-term form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.search-term form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.search-term form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

.footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

.footer .footer-top .links h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  font-weight: 700;
}

.footer .footer-top .links p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #777777;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .links {
  margin-bottom: 30px;
}

.footer .footer-top .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

.footer .footer-top .links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .links ul a {
  color: #777777;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .social-media a {
  font-size: 18px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
